@font-face {
  font-family: 'Redacted Script';
  src: url('../fonts/RedactedScript-Light.ttf') format('truetype');
}
/* just an example of how to load a local true-type font */
.redacted {
    font-family: 'Redacted Script', cursive;
font-size:2rem;
}
body{
--my-brand-color: green;
}

.myplaceholder {
    height:33.33vh;
    background:#eee;
}
.navbar-brand img{
    height: 85px
}

.navbar1{
    background-color: grey;
}

h1,h2{
    font-family: 'Creepster';
}

.nav-link{
    color:darkorange;
}

.container-lg, .mt-3{
    max-width: 99.2%;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
}

.rowsection {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.section2{
    background-color:black;
    padding: 50px;
}

.section2 > div {
    padding: 10px;
    align-content: center;
    color: white;
    margin: auto;
}

.boxtickets{
    background-color: #F26722;
    padding: 25px;
    max-width: 500px;
    align-content: center;
}

.boxtickets > *{
    text-align: center;
}

.Rankingpictures {
  position: relative;
  padding: 20px;
  margin: 0px;
  width: 400px;
  align-content: center;
}

.section1-link > button {
  margin: 0 auto;
  display: block;
  color: white;
  border: solid 1px white;
}

.attractions{
    background-color: #F26722;
    padding: 25px;
    max-width: 400px;
    align-content: center;
    margin: auto;
}

.attractions > *{
    text-align: center;
}

.about{
    background-color:black;
    padding: 0px;
}

.about > div {
    padding: 10px;
    align-content: center;
    color: white;
    margin: auto;
}

.my-footer{
    color: white;
}

.my-footer a{
    color:orange !important;
}

.navbar {
   padding: 0;
}

.contact-section > *{
    text-align: center;
}

.contact{
    background-color:black;
    padding: 0px;
}

.contact > div {
    padding: 10px;
    align-content: center;
    color: white;
    margin: 0px;
}